<style>
  .interface-cheat {
    position: absolute;
    top: 5px;
    left: 5px;
  }
</style>

<div class="interface-cheat" data-cheat>
  <a href="/panelAdmin">X</a>
  <a href="#" target="_blank" data-inspector>Inspector</a>&nbsp;
  <a href="#" data-cheat-test>Test</a>&nbsp;
</div>
