<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Champions of Guilds &amp; Strongholds</title>
    <link rel="stylesheet" href="style.css?v=<%= viewModel.timestamp %>">
  </head>

  <body>
    <h1>Champions of Guilds &amp; Strongholds</h1>
    <a href="<%= viewModel.baseurl + '/create-game'%>" class="js-create">Create Game</a>

    <div class="seperator-20"></div>

    <span>Active Game Rooms:</span>
  </body>
</html>
