<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Champions of Guilds &amp; Strongholds</title>
    <link rel="stylesheet" href="<%= viewModel.baseurl %>/style.css?v=<%= viewModel.timestamp %>">
  </head>

  <body>
    <h1>Champions of Guilds &amp; Strongholds - create game</h1>
    <button class="js-create">Create Game</button>

    <div class="seperator-20"></div>

    <span>Map:</span>
  </body>
</html>
