/* needed by pixi */
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  display: block;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}

/* our basic styles */
td {
  padding: 5px 10px;
}

h1, h2, h3, h4, h5 {
  padding: none;
  margin: none;
}

.seperator-10 {
  margin-top: 10px;
}

.seperator-20 {
  margin-top: 20px;
}

.seperator-40 {
  margin-top: 40px;
}

.bold {
  font-weight: 700;
}

.margin-all {
  margin: 20px;
}
