/* needed by pixi */
body {
  font-size: 16px;
  line-height: 1;

  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  display: block;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}

/* our basic styles */
td {
  padding: 5px 10px;
}

h1, h2, h3, h4, h5 {
  padding: none;
  margin: none;
}

h1 {
  font-size: 22px;
  line-height: 28px;
}

h2 {
  font-size: 20px;
  line-height: 20px;
}

p {
  margin: 0px;
}

.seperator-10 {
  margin-top: 10px;
}

.seperator-20 {
  margin-top: 20px;
}

.seperator-40 {
  margin-top: 40px;
}

.bold {
  font-weight: 700;
}

.inline-block {
  display: inline-block;
}

.vertical-align {
  vertical-align: middle;
}

.margin-left {
  margin-left: 15px;
}

.margin-right {
  margin-right: 15px;
}

.margin-top {
  margin-top: 15px;
}

.margin-bottom {
  margin-bottom: 15px;
}

.text-blue-dark {
  color: #5094e0;
}

.background-green {
  background-color: #6ab417; /* same as green button */
}
