/* needed by pixi */
::selection {
  background: #4f1507; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #4f1507; /* Gecko Browsers */
}

body {
  outline: 0;
  font-family: 'Arial', cursive;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-shadow: -1px -1px 0 #000,  1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  /* text-shadow: -2px -2px 0 #000,  2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000; */
  /* text-shadow: -3px -3px 0 #823c3d,  3px -3px 0 #823c3d, -3px 3px 0 #823c3d, 3px 3px 0 #823c3d; */
  background-color: #000;
}

button {
  border: 9px solid;
  border-image-source: url('/image/ui/border-image-button-up.png');
  border-image-slice: 9 fill;
  border-image-repeat: repeat;
  background: none;

  font-family: 'Arial', cursive;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  /* text-shadow: -2px -2px 0 #000,  2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000; */
  text-shadow: -1px -1px 0 #000,  1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  /* text-shadow: -3px -3px 0 #376d03,  3px -3px 0 #376d03, -3px 3px 0 #376d03, 3px 3px 0 #376d03; */
  padding: 0px 5px 5px 5px
}

button:active {
  /* padding: 3px 0px 2px 5px; */
  border-image-source: url('/image/ui/border-image-button-down.png');
}

button:disabled {
  padding: 3px 0px 2px 5px;
  text-shadow: -1px -1px 0 #000,  1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  /* text-shadow: -2px -2px 0 #000,  2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000; */
  /* text-shadow: -3px -3px 0 #343434,  3px -3px 0 #343434, -3px 3px 0 #343434, 3px 3px 0 #343434; */
  border-image-source: url('/image/ui/border-image-button-disabled.png');
}

button::-moz-focus-inner {
  border: 0;
}

input {
  height: 26px;
  padding: 0px 6px;
  border: 6px solid;
  border-image-source: url('/image/ui/border-image-input.png');
  border-image-slice: 6 fill;
  border-image-repeat: repeat;

  font-family: 'Arial', cursive;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-shadow: -1px -1px 0 #000,  1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  /* text-shadow: -2px -2px 0 #000,  2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000; */
  /* text-shadow: -3px -3px 0 #823c3d,  3px -3px 0 #823c3d, -3px 3px 0 #823c3d, 3px 3px 0 #823c3d; */
}

input:disabled {
  border-image-source: url('/image/ui/border-image-input-disabled.png');
  /* text-shadow: -2px -2px 0 #000,  2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000; */
  text-shadow: -1px -1px 0 #000,  1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  /* text-shadow: -3px -3px 0 #343434,  3px -3px 0 #343434, -3px 3px 0 #343434, 3px 3px 0 #343434; */
}

a {
  color: #98dcff;
  text-shadow: -1px -1px 0 #000,  1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-decoration: none;
  /* text-shadow: -3px -3px 0 #0084ff,  3px -3px 0 #0084ff, -3px 3px 0 #0084ff, 3px 3px 0 #0084ff; */
  /* text-shadow: -2px -2px 0 #000,  2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000; */
}

.card-brown {
  border: 15px solid;
  border-image-source: url('/image/ui/border-image.png');
  border-image-slice: 15 fill;
  border-image-repeat: repeat;
  padding: 0 10px;
  margin: 20px;
}
