<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Champions of Guilds &amp; Strongholds</title>
    <link rel="stylesheet" href="style.css?v=<%= viewModel.timestamp %>">
  </head>

  <body>
    <h1>Champions of Guilds &amp; Strongholds</h1>

    <p>Landing page about game</p>

    <div class="seperator-20"></div>

    <a href="<%= viewModel.baseurl + '/create-game'%>" class="js-create">Create Game [0.1]</a>
  </body>
</html>
