<style>
  .interface-summary-modal {
  }
</style>

<div class="card-brown interface-summary-modal" data-summary style="display: none;">

  <div class="text-center inline-block">
    <span class="js-summary-text">Battle has ended!</span>
    <button data-summary-button>Okey!</button>
  </div>

</div>
