<style>
  .css-battle-interface-maneuver-buttons {
    position: absolute;
    top: 10px;
    right: 20px;
  }
</style>

<div class="js-battle-interface-maneuver-buttons css-battle-interface-maneuver-buttons" style="display: none;">
  <button class="js-melee-button" style="display: inline-block;">Wait</button>
</div>
