<style>
  .interface-chat {
    position: absolute;
    bottom: 10px;
    left: 20px;
  }

  .interface-chat p {
    margin-top: 8px;
    line-height: 16px;
    text-shadow: -2px -2px 0 #333,  2px -2px 0 #333, -2px 2px 0 #333, 2px 2px 0 #333;
  }
</style>

<div class="interface-chat" id="js-chat">
</div>
