<style>
  .interface-cheat {
    position: absolute;
    top: 5px;
    left: 5px;
  }
</style>

<div class="interface-cheat js-cheat">
  <a href="/panelPredefined" class="js-cheat-close">X</a>
  <a href="#" class="js-cheat-test">Test</a>&nbsp;
</div>
