<style>
  .interface-hero-dead-modal {
    position: absolute;
    top: 50px;
    width: 100%;
  }

  .interface-hero-dead-modal div {
  }
</style>

<div class="js-hero-dead interface-hero-dead-modal text-center" style="display: none;">
  <div class="card-brown  inline-block">
    <span class="js-hero-dead-text">Your hero is dead. Game is over for you.</span>
  </div>
</div>
