<style>
  .interface-battle-finished-modal {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 60px 10px 10px 10px;
  }
</style>

<div class="card-brown interface-battle-finished-modal" id="js-battle-finished-modal" style="display: none;">

  <div class="text-center inline-block">
    <span class="js-battle-finished-text">Battle has ended!</span>
    <button id="js-battle-finished-button">Okey!</span></button>
  </div>

</div>
