<div id="setup" class="overlay">
  <div class="modal modal-background">
    <p>Player Setup</p>
    <p>Name: <input type="text" length="20" /></p>
    <p>Color: Red</p>
    <p>Race: Random</p>
    <p><button>Ready!</button></p>
    <div class="seperator-40"></div>
    <table>
      <tr>
        <td>Name</td>
        <td>Color</td>
        <td>Race</td>
        <td>Ready</td>
      </tr>
      <tr>
        <td>Player 1</td>
        <td>Red</td>
        <td>Random</td>
        <td>No</td>
      </tr>
      <tr>
        <td>Player 2</td>
        <td>Blue</td>
        <td>Random</td>
        <td>No</td>
      </tr>
      <tr>
        <td>Player 3</td>
        <td>Green</td>
        <td>Random</td>
        <td>No</td>
      </tr>
    </table>
  </div>
</div>
