<style>
  .interface-battle-summary-modal {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 10px 10px 10px 10px;
  }
</style>

<div class="js-battle-summary-modal card-brown interface-battle-summary-modal" style="display: none;">

  <div class="text-center inline-block">
    <span class="js-battle-summary-text">Battle has ended!</span>
    <button class="js-battle-summary-button">Okey!</span></button>
  </div>

</div>
