<style>
  .world-interface-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .world-interface-modal {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 60px 10px 10px 10px;
  }
</style>

<div class="world-interface-buttons" id="js-world-buttons" style="display: none;">
  <button id="js-end-turn-button">End Turn</span></button>
  <button id="js-information-button">Infos</button>
</div>

<div class="card-brown world-interface-modal" id="js-information-modal" style="display: none;">
  hello hello hello hello hello hello hello hello hello hello hello hello hello
</div>
