<style>
  .css-battle-interface-maneuver-buttons {
    position: absolute;
    top: 10px;
    right: 20px;
  }
</style>

<div class="css-battle-interface-maneuver-buttons" data-battle-interface style="display: none;">
  <button data-wait-button style="display: inline-block;">Wait</button>
</div>
