<style>
  .interface-summary-modal {
  }
</style>

<div class="js-summary card-brown interface-summary-modal" style="display: none;">

  <div class="text-center inline-block">
    <span class="js-summary-text">Battle has ended!</span>
    <button class="js-summary-button">Okey!</span></button>
  </div>

</div>
