<style>
  .world-interface-modal {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 60px 10px 10px 10px;
  }
</style>

<div class="card-brown world-interface-modal" data-world-interface-units-modal style="display: none;">

  <div>Hero units</div>

  <div class="seperator-20"></div>

  <div class="inline-block" data-recruit-unit>
  </div>
</div>
