<style>
  .world-interface-modal {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 140px 10px 10px 10px;
  }
</style>

<div class="card-brown world-interface-modal" data-world-interface-units-modal style="display: none;">

  <div>Hero units</div>

  <div class="seperator-20"></div>

  <div class="inline-block" data-recruit-unit>
    <div data-single-unit data-example-unit>
      <div data-name>Unit name</div>
      <span data-unit-amount data-unit-name class="big">0</span>
      <img class="vertical-align" data-unit-sprite src="/sprite/castleRandom.png" width="36" height="36" />
      <button data-button data-unit-name="unitName">Recruit</button>
      <div class="seperator-10"></div>
    </div>

    <div data-resource data-example-resource class="inline-block">
      <img class="vertical-align" src="/sprite/gold.png" width="36" height="36" />
      <span class="margin-right">1000</span>
    </div>
  </div>
</div>
