<style>
  .launch-input-name {
    width: 100%;
    max-width: 250px;
  }
</style>

<div class="js-launch card-brown" style="display: none;">
  <p>Player Setup</p>
  <p>Name: <input class="launch-input-name" data-input-name type="text" /></p>
  <p>Color: Red</p>
  <p>Race:
    <select name="race" data-select-race>
    </select>
  </p>
  <p>Countdown: <span data-countdown></span></p>
  <p><button data-button-ready>Ready!</button></p>
  <div class="seperator-40"></div>
  <table class="js-table-name">
    <tr>
      <td>Name</td>
      <td>Color</td>
      <td>Race</td>
      <td>Ready</td>
    </tr>
    <tr>
      <td>Player 1</td>
      <td>Red</td>
      <td>Random</td>
      <td>No</td>
    </tr>
    <tr>
      <td>Player 2</td>
      <td>Blue</td>
      <td>Random</td>
      <td>No</td>
    </tr>
    <tr>
      <td>Player 3</td>
      <td>Green</td>
      <td>Random</td>
      <td>No</td>
    </tr>
  </table>
</div>
