<div data-world-interface-fortification-modal class="card-brown world-interface-modal" style="display: none;">
  <div>Fortifications</div>

  <div class="seperator-20"></div>

  <div data-wrapper>

    <div data-single-fortification data-example-fortification>
      <div data-name>Fortification name</div>
      <img class="vertical-align" data-fortification-sprite src="/sprite/castleRandom.png" width="36" height="36" />
      <button data-button data-fortification-name="fortificationName">Build</button>
    </div>

    <div data-resource data-example-resource class="inline-block">
      <img class="vertical-align" src="/sprite/gold.png" width="36" height="36" />
      <span>1000</span>
    </div>

  </div>

</div>
