<style>
  .world-interface-buttons {
    position: absolute;
    top: 90px;
    right: 20px;
  }
</style>

<div class="world-interface-buttons" data-world-interface-buttons style="display: none;">
  <button data-world-interface-units-button>Units</button>
  <button data-world-interface-castle-button>Castle</button>
  <button data-world-interface-end-turn-button>End Turn</button>
</div>
